    <div class="header">
      <div class="container">
        <h1>Propel Ideas</h1>
        <p>Building the future through innovative solutions</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>


    <div class="main">
      <div class="container">
        <img src="" height="128" width="196">
        <h2>Team Propel Ideas</h2>
        <p></p>
        <p></p>
        <p></p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h2></h2>
        <p></p>
        
        
        

      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Propel Ideas</p>
      </div>
    </div>